.header { 
    height: 120px; 
    width: 100%; 
    background-image: url('logo.png');
    background-size: 180px auto;
    background-repeat: no-repeat;
    background-position: 40px 12px;
}

.main-container {
    margin-top: 10px;
}